* {
    margin: 0;
    padding: 0;
  }

body{
    background-color: rgb(255, 196, 0)(2, 2, 34);
}

.nav{
    display: flex;
    flex-direction: row;
    height: 90px;
    align-items: center;
    background-color: rgb(255, 196, 0);
    justify-content: space-between;
    color: green;
    
}

.logo{
    font-size: 35px;
    padding-left: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: italic;
    font-family: '3';
}

.hamberger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.hambox{
    height: 5px;
    width: 35px;
    margin: 5px;
    background-color: chartreuse;
    display: none;
    border-radius: 5px;

    
}

.link{
    display: flex;
}


.link a{
    
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-style: italic;
    padding-right: 30px;
    text-decoration: none;
    color: rgb(0, 41, 128);
    font-family: '3';
}

.content{
    
    background-color: rgb(255, 196, 0);
    height: auto;
    
    
}

h1{
    color: yellow;
    padding-top: 200px;
    padding-bottom: 200px;
}




.logoinbody{
    height: 260px;
    justify-content: center;
    padding-top: 150px;
   
   
}

.logoinbody p{
    text-align: center;
    font-size: 50px;
    font-family: '5';
}

.cardlist{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card{
    background-color: rgb(255, 196, 0);
    height: auto;
    width: 33%;
    padding: 10px;

}

.title {
    width: auto;
    text-align: center;
    font-size: 25px;
    margin: 10px;
    font-family: '4';
    
}

.footer {
    display: flex;
    width: auto;
    height: 200px;
    background-color: rgb(255, 196, 0);
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
  
    border-top: 2px dotted rgb(255, 153, 0);
}

.footertitle p{
    font-size: 45px;
    margin-bottom: 10px;
    font-family: '1';

}

.other{
    margin-bottom: 20px;
    font-family: '5';
}

.socialmedia a{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.socialmedia a img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}


.item{
    width: auto;
    background-color: rgb(37, 139, 83);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    /* justify-content: center; */
    align-items: center;
}

.item a{
    text-decoration: none;
    font-family: '2';
    font-size: 22px;
    color: chartreuse;
}

.search {
    display: flex;
   
    flex-direction: row;
    justify-content: center;
    border:2px solid red;
}

#content-list p {
    margin: 20px;
    border:2px solid chartreuse;
}
@media only screen and (max-width: 700px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top:20px ;
        padding-bottom: 20px;
        height: auto;
    }

    .link {
        display: none;
        flex-direction: column;
        margin-left: 10px;
        margin-bottom: 10px;
        
    }

    .link a{
        margin: 10px;
    }
    .logo{
        font-size: 25px;
        margin-top: 10px;
    }
    .hamberger{
        width: 100%;
    }
    .hambox{
        display: flex;
        align-items: flex-end;
    }
    .hami{
        margin-top: 5px;
        margin-right: 20px;
    }
    .cardlist{
        flex-direction: column;
    }
    .card{
        width: auto;
    }
    .logoinbody{
        height: 130px;
        justify-content: center;
        padding-top: 75px;
        padding-bottom: 30px;
      
       
    }
    
    .logoinbody p{
        text-align: center;
        font-size: 50px;
    }
  }

@font-face {
    font-family: '1';
    src: url('AmaticSC-Regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: '2';
    src: url('Caveat-Regular.ttf');
}

@font-face {
    font-family: '3';
    src: url('NewTegomin-Regular.ttf');
}

@font-face {
    font-family: '4';
    src: url('Sacramento-Regular.ttf');
}

@font-face {
    font-family: '5';
    src: url('TrainOne-Regular.ttf');
}